<h2>Reportes generados</h2>
<ul>
    {{#each reportes}}
    <li><strong>{{tipo}}</strong> - {{rangoFechas}}<br />{{datosAnalizados}}</li>
    {{/each}}
</ul>
<a href="/reportes/nuevo">Generar otro reporte</a>